.fileSelect {
   border-radius: 10px;
   background-color: #3f36ff;
   border: none;
}

.button-upload {
   margin-top: 20px;
   background: linear-gradient(90deg, rgba(212, 67, 67, 1) 0%, rgba(113, 9, 121, 1) 100%);
   color: white;
   width: 180px;
   height: 60px;
}

.currentImgContainer {
   display: flex;
   justify-content: center;
}

.fileImage {
   display: block;
   max-width: 450px;
   max-height: 250px;
   width: auto;
   height: auto;

}